In [1]:
#import dependencies
import pandas as pd

#Read CSV file as DataFrame
bank_df = pd.read_csv('budget_data.csv')
bank_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [4]:
#count total months 
month_count = bank_df['Date'].count()

print(f'Total Months: {month_count}')

Total Months: 86

In [33]:
#Calculate total of 'Profit/Losses'
total = sum(bank_df['Profit/Losses'])

print(f'Total: ${"{:,}".format(total)}')

Total: $22,564,198

In [14]:
#Adding the differnce to a new column called 'Change'

bank_df['Change'] = bank_df['Profit/Losses'].diff()
bank_df

         Date  Profit/Losses     Change
76 2016-05-01         518681  -143603.0
77 2016-06-01        -748256 -1266937.0
78 2016-07-01        -910775  -162519.0
79 2016-08-01         951227  1862002.0
80 2016-09-01         898241   -52986.0
81 2016-10-01        -729004 -1627245.0
82 2016-11-01        -112209   616795.0
83 2016-12-01         516313   628522.0
84 2017-01-01         607208    90895.0
85 2017-02-01         382539  -224669.0

In [27]:
#Retrive the summary statistics of the bank_df
print(bank_df.describe())
#After locating the mean, max, and min for 'Change' save the values to a variable
average_change = -8.311106e+03
great_in = 1.862002e+06
great_de = -1.825558e+06


print(f'Average Change: ${"{:,}".format(average_change)}')
print(f'Greatest Increase in Profits: ${"{:,}".format(great_in)}')
print(f'Greatest Decrease in Profits: ${"{:,}".format(great_de)}')

       Profit/Losses        Change
count   8.600000e+01  8.500000e+01
mean    2.623744e+05 -8.311106e+03
std     6.244057e+05  8.896487e+05
min    -1.194133e+06 -1.825558e+06
25%    -1.944645e+05 -5.992100e+05
50%     4.528330e+05 -5.227500e+04
75%     7.494155e+05  6.311560e+05
max     1.141840e+06  1.862002e+06
Average Change: $-8,311.106
Greatest Increase in Profits: $1,862,002.0
Greatest Decrease in Profits: $-1,825,558.0

In [40]:
#Final print statement with all of the Statistics
print('Finacial Analysis')
print('PyBank: January 2010 - Febuary 2017')
print('---------------------------------------------------------')
print(f'Total Months: {month_count}')
print(f'Total: ${"{:,}".format(total)}')
print(f'Average Change: ${"{:,}".format(average_change)}')
print(f'Greatest Increase in Profits: ${"{:,}".format(great_in)}')
print(f'Greatest Decrease in Profits: ${"{:,}".format(great_de)}')

Finacial Analysis
PyBank: January 2010 - Febuary 2017
---------------------------------------------------------
Total Months: 86
Total: $22,564,198
Average Change: $-8,311.106
Greatest Increase in Profits: $1,862,002.0
Greatest Decrease in Profits: $-1,825,558.0